{% extends "base.html.twig" %}
{# On hérite du template 'base.html.twig' #}

{# On appel le block body du template 'base.html.twig' #}
{% block body %}

    <h1 class="display-4 text-center my-4">Détails de l'article</h1>
    {#article est une variable twig qui provient du controller blog controller est de la methode show($this->render('['article']))
    #}

    <div class="col-md-12 card mb-2 text-center p-0">
    {# replace() : filtre TWIG qui permet de remplacer une partie de la chaine de caractère par une autre, dans notre on remplace la largeur de 200 dans l'URL de l'image par "1000/300" #}

        <img src="{{ article.image|replace({"200/300": "1000/300"}) }}" class="card-img-top" alt="{{article.title}}">
        <div class="card-body">
            <h5 class="card-title">{{article.title}}</h5>
            <p class="card-text"> {{article.content}} </p>
        </div>
    </div>
    
{% endblock %}







